
* {
    margin: 0;
    padding: 0;
}
    
ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
    
li {
    list-style: none;
    margin: 2em 0.5em;
    font-size: 24px;
    text-transform: uppercase;
}
    
a {
    text-decoration: none;
    padding: 0.6em;
    color: #74B2B2;
    border-radius: 5px;
}
    
a:hover {
    color: white;
    background-color: #86A69D;
    transition: 0.8s ease;
}