* {
    padding: 0;
    margin: 0;
}

.cards {
    margin: 2em;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1px;
    padding: 1em 1em;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 1em;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.textuel {
    color: rgb(85, 85, 85);
    text-align: justify;
}

.imgPerf {
    width: 250px;
    filter: grayscale(100%);
}

.divPerf {
    width: 80%;
    margin: 1em auto;
}

@media (max-width: 960px) {
    .cards {
        padding: 0.5em 1em;
        margin: 0.5em auto;
        text-align: center;
    }
}