/*.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}*/

.card {
  display: flex;
  flex-flow: row nowrap;
  width: 80%;
  margin: 2.5em auto;
}

.tabp {
  margin: 5em auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 960px) {
  .card {
      display: flex;
      flex-direction: column;
      width: 60%;
  }
}
